.svg {
    fill: var(--text-color);

    &--stroke {
        stroke: var(--text-color);

        &--alt {
            stroke: var(--alt-text-color);
        }
    }

    &--alt {
        fill: var(--alt-text-color);
    }
}