html {
  cursor: var(--cursor);
}
body {
  font-family: "Montserrat Alternates";
  background-color: var(--background-color);
}
main {
    background-image: var(--bg-img);
    background-size: cover;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
hr {
    position: absolute;
    margin: 0 auto;
    left: 36%;
    background-color: var(--alt-background-color);
    border: none;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
