<section class="biggest-number">
  <div class="container">
    <h2 class="title">Введіть 3 числа</h2>
    <form class="biggest-number__form" method="post" data-biggNum-form>
      <div class="biggest-number__inputs">
        <label class="biggest-number__label">
          <input
            type="text"
            name="firstNum"
            id="firstNum"
            class="input"
            placeholder="Введіть число"
            data-biggNum-input
          />
        </label>
        <label class="biggest-number__label">
          <input
            type="text"
            name="secondNum"
            id="secondNum"
            class="input"
            placeholder="Введіть число"
            data-biggNum-input
          />
        </label>
        <label class="biggest-number__label">
          <input
            type="text"
            name="thirdNum"
            id="thirdNum"
            class="input"
            placeholder="Введіть число"
            data-biggNum-input
          />
        </label>
      </div>
      <button type="submit" class="biggest-number__btn" data-biggNum-btn>
        Перевірити
      </button>
    </form>
    <p class="biggest-number__result" data-biggNum-result>
      Будь ласка, введіть три числа та натисніть кнопку.
    </p>
  </div>
</section>
<hr style="width: 536px; height: 1px; background-color: black; border: none" />
