<section class="sect biggestNumber">
  <div class="container">
    <h2 class="biggestNumber-title">Введіть 3 числа</h2>
    <form action="" class="biggestNumber-form">
      <label class="biggestNumber-label">
        <input type="text" name="firstNum" id="firstNum" class="biggestNumber-input" placeholder="Введіть число" />
      </label>
      <label class="biggestNumber-label">
        <input type="text" name="secondNum" id="secondNum" class="biggestNumber-input" placeholder="Введіть число" />
      </label>
      <label class="biggestNumber-label">
        <input type="text" name="thirdNum" id="thirdNum" class="biggestNumber-input" placeholder="Введіть число" />
      </label>
      <button type="submit" class="biggestNumber-btn">Перевірити</button>
    </form>
    <p class="biggestNumber-result">
      Будь ласка, введіть три числа та натисніть кнопку.
    </p>
  </div>
</section>
