<section class="sect calculator">
  <div class="container">
    <h2 class="calculator_title title">Калькулятор</h2>
    <div class="calculator_box">
      <input
        type="text"
        class="calculator_input input"
        id="first-num"
        placeholder="Введіть число"
      />
      <ul class="calculator_list list">
        <li class="calculator_list-item">
          <button class="calculator_item-btn">+</button>
        </li>
        <li class="calculator_list-item">
          <button class="calculator_item-btn">*</button>
        </li>
        <li class="calculator_list-item">
          <button class="calculator_item-btn">-</button>
        </li>
        <li class="calculator_list-item">
          <button class="calculator_item-btn">/</button>
        </li>
      </ul>
      <input
        type="text"
        class="calculator_input input"
        id="second-num"
        placeholder="Введіть число"
      />
      <button class="calculator_btn">=</button>
      <p class="calculator_value-text input">Результат</p>
    </div>
  </div>
</section>
<hr style="width: 536px; height: 1px; border: none" />
