<section class="sect calculator">
  <div class="container">
    <h2 class="calculator_title">Калькулятор</h2>
    <input type="text" class="calculator_input" id="first-num" />
    <ul class="calculator_list">
      <li class="calculator_list-item">
        <button class="calculator_item-dtn">+</button>
      </li>
      <li class="calculator_list-item">
        <button class="calculator_item-dtn">*</button>
      </li>
      <li class="calculator_list-item">
        <button class="calculator_item-dtn">-</button>
      </li>
      <li class="calculator_list-item">
        <button class="calculator_item-dtn">/</button>
      </li>
    </ul>
    <input type="text" class="calculator_input" id="second-num" />
    <button class="calculator_btn">=</button>
    <p class="calculator_value-text">Результат</p>
  </div>
</section>
<hr style="width: 536px; height: 1px; border: none" />
