<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-div">
      <svg class="footer__logo svg svg--stroke" width="165" height="70">
        <use href="./src/img/icons.svg#icon-logo"></use>
      </svg>
      <ul class="contacts-list list">
        <li class="contacts-list__item">Тел: +38 (123) 456 78 90</li>
        <li class="contacts-list__item">E-Mail: codingmagic@gmail.com</li>
        <li class="contacts-list__item">Facebook: CodingMagic</li>
        <li class="contacts-list__item">Twitter: CodingMagic</li>
        <li class="contacts-list__item">Instagram: CodingMagic</li>
      </ul>
      <div class="subscription">
        <label for="name" class="subscription__label">
          <input
            class="input"
            type="text"
            name="name"
            id="name"
            placeholder="Ваша ел. адреса..."
            data-modal-input
          />
        </label>
        <button type="submit" class="subscription__button">Підписатись</button>
        <p class="subscription__text">
          *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="modal modal--thanks is-hidden" data-modal>
  <button type="button" class="modal__close-btn" data-modal-close>
    <svg width="17" height="17">
      <use href="./src/img/icons.svg#icon-closebtn"></use>
    </svg>
  </button>
  <div class="modal__images modal__images--first">
    <svg class="svg" width="30" height="30">
      <use href="./src/img/icons.svg#icon-sword"></use>
    </svg>
    <svg class="svg" width="30" height="30">
      <use href="./src/img/icons.svg#icon-puzzle"></use>
    </svg>
  </div>
  <h2 class="modal__title modal__title--thanks">Дякую за підписку!</h2>
  <div class="modal__images modal__images--second">
    <svg class="svg" width="30" height="30">
      <use href="./src/img/icons.svg#icon-game-development"></use>
    </svg>
    <svg class="svg" width="30" height="30">
      <use href="./src/img/icons.svg#icon-tic-tac-toe"></use>
    </svg>
  </div>
</div>
