<section data-sect="game" class="sect dino-game">
  <div class="container">
    <h3 class="title googleDino__title">Google динозавр</h3>
    <div class="googleDino__box">
      <div class="game">
        <img
          class="googleDino"
          id="dino"
          src="./src/img/cooldinogoogleDino.png"
          alt=""
        />
        <img
          id="cactus-container"
          class="googleDino__cactuses"
          src="./src/img/googleDino-cactus.png"
          alt=""
        />
        <p class="googleDino__scoreTxt" id="scoreElementId"></p>
      </div>
    </div>
  </div>
</section>
<hr style="width: 536px; height: 1px; border: none" />
