<section class="sect guess-number">
    <div class="container">
        <h3 class="title">
            Вгадай число, яке загадав комп'ютер
        </h3>
        <div class="game">
            <div class="input-button">
                <input class="input" type="text" placeholder="Введіть число">
                <button id="button"></button>
            </div>
            <p id="p">Вітаю, ви вгадали число! (number)</p>
        </div>
    </div>
</section>
<hr style="width: 536px; height: 1px; border: none;" />