<section data-sect="numerical" class="sect leap-year">
      <div class="container">
    <h3 class="title">Перевір рік в який ти народився</h3>
    <div class="leap-year__container">
      <form class="leap-year__form">
        <input
          class="leap-year__input input"
          type="text"
          placeholder="Введіть число"
          data-leap-year-input
        />
        <button class="leap-year__btn" data-leap-year-btn type="button">
          <svg class="svg--alt svg--stroke--alt" width="15" height="15">
            <use href="./src/img/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <p class="leap-year__text" data-leap-year-result>Вітаю, ви вгадали число! (number)</p>
    </div>
  </div>
</section>
<hr style="width: 536px; height: 1px; border: none" />