<section class="sect our-team">
  <div class="container">
    <h2 class="title">Наша команда</h2>
    <div class="our-team__slider-container">
      <button
        type="button"
        class="our-team__slider-btn our-team__slider-btn--prev"
        data-slider-prev
      >
        <svg class="our-team__slider-arrow" width="52" height="102">
          <use href="./src/img/icons.svg#icon-slider-arrow"></use>
        </svg>
      </button>
      <div class="our-team__slider-container--flex">
        <div class="our-team__slider" data-slider>
          <div class="our-team__card" data-slider-card>
            <div class="our-team__card-img"></div>
            <h3 class="our-team__card-name">Ім’я студента</h3>
            <p class="our-team__card-info">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
          <div class="our-team__card" data-slider-card>
            <div class="our-team__card-img"></div>
            <h3 class="our-team__card-name">Ім’я студента</h3>
            <p class="our-team__card-info">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
          <div class="our-team__card" data-slider-card>
            <div class="our-team__card-img"></div>
            <h3 class="our-team__card-name">Ім’я студента</h3>
            <p class="our-team__card-info">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
          <div class="our-team__card" data-slider-card>
            <div class="our-team__card-img"></div>
            <h3 class="our-team__card-name">Ім’я студента</h3>
            <p class="our-team__card-info">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
          <div class="our-team__card" data-slider-card>
            <div class="our-team__card-img"></div>
            <h3 class="our-team__card-name">Ім’я студента</h3>
            <p class="our-team__card-info">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
          <div class="our-team__card" data-slider-card>
            <div class="our-team__card-img"></div>
            <h3 class="our-team__card-name">Ім’я студента</h3>
            <p class="our-team__card-info">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
        </div>
        <ul class="our-team__dots-list list" data-slider-dots></ul>
      </div>
      <button
        type="button"
        class="our-team__slider-btn our-team__slider-btn--next"
        data-slider-next
      >
        <svg class="our-team__slider-arrow" width="52" height="102">
          <use href="./src/img/icons.svg#icon-slider-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<hr style="width: 536px; height: 1px; background-color: black; border: none" />
