<section data-sect="game" class="sect rock-paper-scissors">
  <div class="container">
    <h2 class="rock-paper-scissors_title title">Камінь - ножиці - папір</h2>
    <div class="rock-paper-scissors_box">
      <div class="rock-paper-scissors_game">
        <ul class="rock-paper-scissors_list list">
          <li class="rock-paper-scissors_list-item">
            <button class="rock-paper-scissors_btn btn"></button>
          </li>
          <li class="rock-paper-scissors_list-item">
            <button class="rock-paper-scissors_btn btn"></button>
          </li>
          <li class="rock-paper-scissors_list-item">
            <button class="rock-paper-scissors_btn btn"></button>
          </li>
        </ul>
        <p class="rock-paper-scissors_result-text">Виграли/програли раунд!</p>
        <p class="rock-paper-scissors_computer-version">Варіант комп'ютера</p>
      </div>
      <ul class="rock-paper-scissors_score-list list">
        Рахунок:
        <li class="rock-paper-scissors_score-item" id="pc-score">
          Комп'ютер - 0
        </li>
        <li class="rock-paper-scissors_score-item" id="user-score">Ви - 0</li>
      </ul>
    </div>
  </div>
</section>
<hr style="width: 536px; height: 1px; border: none" />
