<section class="sect scientists">
  <div class="container">
    <h2 class="title">Обери вченого/их</h2>
    <ul class="scientists-list list"></ul>
    <ul class="scientisits-btn-list list">
      <li>
        <ul class="scientist-btn-container list">
          <li>
            <ul class="scientists-btn-list-container list">
              <li>
                <button id="1" type="button" class="scientists-btn">
                  Які вчені народилися в 19 ст.
                </button>
              </li>
              <li>
                <button id="2" type="button" class="scientists-btn">
                  Відсортувати вчених за алфавітом
                </button>
              </li>
              <li>
                <button id="3" type="button" class="scientists-btn">
                  Відсортувати вчених за кількістю прожитих років
                </button>
              </li>
              <li>
                <button id="4" type="button" class="scientists-btn">
                  Знайти вченого, який народився найпізніше
                </button>
              </li>
            </ul>
          </li>
          <li>
            <ul class="scientists-btn-list-container list">
              <li>
                <button id="5" type="button" class="scientists-btn">
                  Знайти рік народження Albert Einshtein
                </button>
              </li>
              <li>
                <button id="6" type="button" class="scientists-btn">
                  Знайти вчених, прізвища яких починаються на на літеру “С”
                </button>
              </li>
              <li>
                <button id="7" type="button" class="scientists-btn">
                  Видалити всіх вчених, ім’я яких починається на “А”
                </button>
              </li>
              <li>
                <button id="8" type="button" class="scientists-btn">
                  Знайти вченого, який прожив найдовше і вченого, який прожив
                  найменше
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <button id="9" type="button" class="scientists-btn">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
