<section class="sect time-calculator">
  <div class="container">
    <h3 class="title">Калькулятор часу</h3>
    <div class="time__box">
      <form action="" class="time__form">
        <input
          class="time__input input"
          type="text"
          name="number"
          id="number"
          placeholder="Введіть число"
          data-time-input
        />
        <button class="time__btn">
          <svg class="svg" width="15" height="15">
            <use href="./src/img/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <hr class="time__hr" />
      <p class="time__text">3 дн. 15:45:01</p>
    </div>
  </div>
</section>
<hr style="width: 536px; height: 1px; border: none" />
