.biggest-number {
  &__form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }

  &__inputs {
    display: flex;
    justify-content: center;
    gap: 38px;
  }

  &__btn {
    @extend %btn;
  }

  &__result {
    @extend %text;
    margin-top: 36px;
    text-align: center;
  }
}