.header {
  padding: 20px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 81px;
  }

  &__nav {
    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
    }

    &-item {
      position: relative;
    }

    &-link {
      color: $black;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      font-style: normal;
      @include transition(color);

      &:hover {
        cursor: $cursor;
        color: $accent-color;
      }
    }

    &-arrow {
      border: solid black;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2.8px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      @include transition(border-color);
    }
  }

  &__dropdown {
    position: absolute;
    left: -30%;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    width: 160px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

    &.active {
      height: 105px;
      opacity: 1;
      visibility: visible;
    }

    &-item {
      flex-grow: 1;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-btn {
      padding: 0;
      border: none;
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      font-style: normal;
      @include transition(color);

      &:last-child {
        border-radius: 0 0 20px 20px;
      }

      &:hover,
      &:focus {
        color: $accent-color;
        cursor: $cursor;
      }
    }
  }

  &__theme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 51px;

    &-btn {
      padding: 0;
      border: none;
      width: 40px;
      height: 20px;
      cursor: $cursor;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__welcome-text {
    color: $black;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    @include transition(color);

    &:hover {
      cursor: $cursor;
      color: $accent-color;
    }
  }
}
